<footer>
    <ul>
        <li><a href="https://webpages.charlotte.edu/cli36/">CLT WEB</a></li>
        <li><a href="https://kwisssummers.github.io/">GitHub</a></li>
        <li><a href="https://kwisssummers.github.io/itis3135/">Course Github.io</a></li>
        <li><a href="https://github.com/KwissSummers/itis3135">ITIS3135 GitHub Repository</a></li>
        <li><a href="https://www.freecodecamp.org/ChrisLi">FreeCodeCamp Profile</a></li>
        <li><a href="https://www.codecademy.com/profiles/Cli36">Codecademy Profile</a></li>
        <li><a href="https://www.linkedin.com/in/chris4li/">LinkedIn Profile</a></li>
        <li><a href="https://www.freecodecamp.org/certification/ChrisLi/responsive-web-design">FCC Responsive Web Design Certification</a></li>

        <!-- Validation links -->
        <li><a href="#" id="validation-link-html">Validate HTML</a></li>
        <li><a href="#" id="validation-link-css">Validate CSS</a></li>

    </ul>
    <p>Designed by Chris Li Enterprises &copy; 2025</p>
</footer>
